@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
    background-color: #364F6B;
    color: #233244;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

section {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 10px;
}

.wrapper {
    width: 85%;
    margin: 20px auto;
}

h1 {
    display: none;
}

h2, h3 {
    font-family: sans-serif;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 20px;
}

#my_info h2 {
    display: none;
}

#my_info img {
    width: 125px;
    height: auto;
    border-radius: 80px;
    margin-right: 40px;
}

table {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
}

#my_info th {
    text-align: left;
    padding-right: 20px;
}

th, td {
    font-size: 14px;
}

#myname th {
    display: none;
}

#myname td {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;   
}

a:hover {
    text-decoration: underline;
    color: #3FC1C9;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 4px;
}

ul li::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

ul li:nth-child(1)::before {
    content: url('../img/tel.png');
}

ul li:nth-child(2)::before {
    content: url('../img/mail.png');
}

ul li:nth-child(3)::before {
    content: url('../img/blog.png');
}

ul li:nth-child(4)::before {
    content: url('../img/blog.png');
}

#skills ol {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    background-color: #3FC1C9;
    padding: 4px 10px;
    border-radius: 32px;
    margin: 0 8px 8px 0;
}

#skills li::before {
    content: "#";
}

#skills li:hover {
    background-color: #FC5185;
    color: #F5F5F5;
}

#project ol {
    list-style: none;
    padding: 0;
}

/*
#project li {
    border-bottom: 1px solid #dddddd;
    padding: 20px;
}
*/

#project li:last-child {
    border-bottom: none;
}

#project video {
    width: 100%;
}

#project a {
    color: #3FC1C9;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 8px 2px 0;
}

#project a:hover {
    background-color: #FC5185;
    color: #F5F5F5;
    text-decoration: none;
    padding: 2px 8px;
    transition: padding 0.2s;
}